// CV styles
// ---------------------------------------/

// util

.section-header {
	@include section_border;
	margin-bottom: 1.5rem;

	h2 {
		@include title-sans;
		font-weight: 900;
		font-size: 1.75rem;
		letter-spacing: -.05rem;
		margin: 0;
	}
}

// page header styles

.page-header { padding: 1.5rem 0;

	.avatar {
		width: 100px;
		max-width: 100%;
		overflow: hidden;
		@include border-radius(100px);
		margin: 0 auto;
		display: block;
	}

	.header-name {
		@include title-sans;
		font-size: 3rem;
		font-weight: 900;
		text-align: center;
		letter-spacing: -.15rem;
		line-height: 1;
		margin: 1rem 0 2rem;
	}

	.title-bar {
		@include section_border;
		padding: .4rem 0;
		@include clearfix;

		.header-title {
			color: $text_color;
			@include title-sans;
			font-weight: 300;
			font-size: 1.75rem;
			line-height: 2rem;
			letter-spacing: -.05rem;
			text-align: center;
			margin: 0 0 .5rem;

			@include media_larger_than_mobile {
				float: left;
				margin: 0;
			}
		}
	}



	.executive-summary {
		@include media_larger_than_mobile { font-size: 1.125rem; }
		color: $text_color;

		p {
			font-size: 16px;
		}

		a {
			font-weight: 700;
			color: $blacker;
		}
	}

}

.icon-links {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	top: 4px;
	text-align: center;
	border-top: 1px solid #eee;
	padding-top: .4rem;

	@include media_larger_than_mobile {
		float: right;
		border-top: none;
		padding-top: 0;
	}

	.icon-link-item {
		display: inline-block;
		margin-left: 5px;
	}

	.icon-link { display: inline-block;

		&:hover .icon path {
			fill: $blacker;
			@include transition(all .2s ease);
		}
	}
}

// Button styles

.button {
	@include border-radius(3px);
	text-decoration: none;
	text-align: center;
	display: block;
	margin: 1rem auto 0.0rem;
	width: 150px;
	font-size: 1.1rem;
	@include sans_light;
	// color: $blacker;
	line-height: 40px;
	@include transition(all .2s ease);

	&.not-looking { width: 400px; }
	&.long { width: 180px; }
}



.cv {
	background-color: #0af;
	color: #fff;

	&:hover {
		background-color: #008add;
		color: #fff;
	}
}

.blog {
	background-color: #7c4dff;
	color: #fff;

	&:hover {
		background-color: #5d41ff;
		color: #fff;
	}
}

.projects {
	background-color: #009688;
	color: #fff;

	&:hover {
		background-color: #007e73;
		color: #fff;
	}
}

// cv content styles

.content-section {
	margin: 0 0 3rem;

	.cv-item { margin-bottom: 2rem; }

	.cv-item-title {
		@include sans_bold;
		margin: 0 0 .75rem;
		font-size: 1.5rem;
		letter-spacing: -.05rem;
		line-height: 1;

		a {
			color: $black;
			text-decoration: none;
			border-bottom: 1px solid;

			&:hover {
				border-bottom: none;
				color: #9c9c9c;
			}
		}
	}

	.cv-item-details {
		@include sans_bold;
		font-size: 1.125rem;
		margin: 0 0 .75rem;
		line-height: 1;
	}

	.cv-item-details,
	.cv-item-copy,
	.cv-item-list {
		a {
			color: $blacker;
			text-decoration: none;
			border-bottom: 1px solid;

			&:hover {
				border-bottom: none;
				color: #9c9c9c;
			}
		}
	}

	.cv-item-copy { margin: .75rem 0 0; }
}

// footer styles

.page-footer {
	border-top: 1px solid #eee;
	padding-top: 1.5rem;
	text-align: center;
	margin-bottom: 3rem;

	.footer-line {
		margin: 0;
		font-size: .875rem;
		color: #999;

		> a {
			font-weight: 700;
			color: $blacker;
		}
	}
}
