---
layout: cv
---

{% if site.cv_section_experience %}
<!-- begin Experience -->
<section class="content-section">

	<header class="section-header">
		<h2>Experience</h2>
	</header>

	<!-- Duplicate these cv-item elements and edit accordingly for each job you want to add here -->

	<!-- another cv-item -->
	<div class="cv-item" itemscope itemprop="worksFor" itemtype="https://schema.org/Organization">
		<h3 class="cv-item-title"><a href="https://www.uab.cat/">Universitat Autònoma de Barcelona</a></h3>
		<h4 class="cv-item-details" itemprop="description">Lead Statistical Programmer & Project Manager &bull; July 2018 &mdash; Present</h4>
		<p class="cv-item-copy">In the frame of <a href = "http://www.reneb.net">RENEB</a>, I am developing <a href = "https://github.com/biodosimetry-uab/biodose-tools">Biodose Tools</a>, an Open Source R Shiny application to help professionals and researchers on Biological Dosimetry to perform several computations and statistical analyses.</p>
		<p class="cv-item-copy">Our end-goal is to replace all current software used by the different laboratories and to standardise the used statistical methods, which will have a major impact in Interlaboratory Comparison tests for Quality Assurance.</p>
		<p class="cv-item-copy">As part of the project, I am writing a comprehensive User Manual & Statistical Documentation book using bookdown.</p>

	</div><!-- end of cv-item -->

	<div class="cv-item" itemscope itemprop="worksFor" itemtype="https://schema.org/Organization">
		<h3 class="cv-item-title"><a href="http://www.crm.cat/en">Centre de Recerca Matemàtica</a></h3>
		<h4 class="cv-item-details" itemprop="description">Complex Systems Intern &bull; September 2017 &mdash; July 2018 </h4>
		<p class="cv-item-copy">My Master's Thesis (with Álvaro Corral and Isabel Serra as my thesis supervisors) consisted of building statistical methods using bootstrap and permutation tests to study in depth the influence of sea surface temperature on tropical-cyclone intensity.</p>
		<p class="cv-item-copy">Additionally, I created an R package with unified hurricane occurrences dataset with finer temporal temperature tracking than those currently available in the literature.</p>
		<br>
		<h4 class="cv-item-details" itemprop="description">Complex Systems Intern &bull; February &mdash; July 2017 </h4>
		<p class="cv-item-copy">My Bachelor's Thesis (with Álvaro Corral as my thesis supervisor) consisted of the study of real hurricanes occurrences using statistical learning models. The main skills I developed are:</p>
		<ul class="cv-item-list">
			<li>Data extraction and data wrangling.</li>
			<li>Statistical analysis using R.</li>
		</ul>
		<h4 class="cv-item-details" itemprop="description">Computational Neuroscience Intern &bull; February &mdash; July 2017 </h4>
		<p class="cv-item-copy">Under the supervision of Alexander Roxin, I studied the macroscopic and microscopic description for networks of spiking neuronal ensembles using the model of FREs and QIF neurons. The main skills I developed are:</p>
		<ul class="cv-item-list">
			<li>Mathematical and numerical analysis.</li>
			<li>High-performance numerical simulations in C++.</li>
		</ul>

	</div><!-- end of cv-item -->

	<!-- another cv-item -->
	<div class="cv-item" itemscope itemprop="worksFor" itemtype="https://schema.org/Organization">
		<h3 class="cv-item-title"><a href="http://ubuntugnome.org">Ubuntu GNOME</a></h3>
		<h4 class="cv-item-details" itemprop="description">Marketing Team Lead &bull; April 2013 &mdash; October 2017</h4>
		<p class="cv-item-copy">As Ubuntu GNOME became an official flavour of Ubuntu, I started working on the branding to help build a powerful and recognisable image. My team and I were in charge of all artwork and social-media-related aspects of this young GNU/Linux distribution.</p>

		<p class="cv-item-copy">My biggest accomplishments as the Marketing Lead have been:</p>
		<ul class="cv-item-list">
			<li>Collaborating with a wonderful team of <a href="https://wiki.ubuntu.com/UbuntuGNOME/GettingInvolved/WhoWeAre">talented people</a>.</li>
			<li>Organising trademark agreements with the <a href="https://www.gnome.org/foundation/">GNOME Foundation</a>.</li>
			<li>With the help of others, giving the best desktop UX possible to our users.</li>
		</ul>

	</div><!-- end of cv-item -->

	<!-- another cv-item -->
	<div class="cv-item" itemscope itemprop="worksFor" itemtype="https://schema.org/Organization">
		<h3 class="cv-item-title"><a href="https://elementary.io/">elementary OS</a></h3>
		<h4 class="cv-item-details" itemprop="description">Software Localisator &bull; June 2010 &mdash; 2016</h4>
		<p class="cv-item-copy">I used to contribute to the localisation of elementary OS, a GNU/Linux distribution. For 6 years I coordinated the Catalan and English (UK) Translators teams. I was also a member of the Spanish Translators team.</p>

	</div><!-- end of cv-item -->

</section>
<!-- end Experience -->
{% endif %}

{% if site.cv_section_education %}
<!-- begin Education -->
<section class="content-section">

	<header class="section-header">
		<h2>Education</h2>
	</header>

	<div class="cv-item" itemscope itemprop="alumniOf" itemtype="https://schema.org/CollegeOrUniversity">
		<h3 class="cv-item-title" itemprop="name">Universitat Autònoma de Barcelona</h3>
		<h4 class="cv-item-details" itemprop="description">MSc in Modelling for Science and Engineering (Data Science Specialization) &bull; 2017 &mdash; 2018</h4>
		<p class="cv-item-copy"> Thesis: <i>The Influence of Sea Surface Temperature on Tropical-Cyclone Intensity</i>.</p>
		<br>
		<h4 class="cv-item-details" itemprop="description">Bachelor’s degree in Physics &bull; 2012 &mdash; 2017</h4>
		<p class="cv-item-copy"> Thesis: <i>On Tropical-Cyclones: An Statistical Analysis on a Warming Environment</i>.</p>
		<!-- <p class="cv-item-copy">If you had any meaningful roles at college, feel free to write about them here.</p> -->
	</div>

	<div class="cv-item" itemscope itemprop="alumniOf" itemtype="https://schema.org/CollegeOrUniversity">
		<h3 class="cv-item-title" itemprop="name">Institut de Vic</h3>
		<h4 class="cv-item-details" itemprop="description">Baccalaureate diploma in Mixed Sciences &bull; 2010 &mdash; 2012</h4>
		<!-- <p class="cv-item-copy">If you had any meaningful roles at college, feel free to write about them here.</p> -->
	</div>

</section>
<!-- end Education -->
{% endif %}


{% if site.cv_section_skills %}
<!-- begin Skills -->
<section class="content-section">

	<header class="section-header">
		<h2>Computer Skills</h2>
	</header>

	<div class="cv-item">
		<h4 class="cv-item-details">Data Science</h4>
		<p class="cv-item-copy">R, Python, TensorFlow, Keras, SQL, Google Cloud Platform, Hadoop, Spark.</p>
	</div>

	<div class="cv-item">
		<h4 class="cv-item-details">Programming</h4>
		<p class="cv-item-copy">Mathematica, C, C++, Git, Bash, awk, MATLAB.</p>
	</div>

	<div class="cv-item">
		<h4 class="cv-item-details">Web Technologies</h4>
		<p class="cv-item-copy">R Shiny, Jekyll, HTML, CSS.</p>
	</div>

	<div class="cv-item">
		<h4 class="cv-item-details">Other</h4>
		<p class="cv-item-copy">GNU/Linux, macOS, LaTeX, CI/CD pipelines, Computational Genomics.</p>
	</div>

	<div class="cv-item">
		<h4 class="cv-item-details">Design</h4>
		<p class="cv-item-copy">Inkscape, GIMP.</p>
	</div>

	<!-- <div class="cv-item">
		<h4 class="cv-item-details">Advanced</h4>
		<p class="cv-item-copy">GNU/Linux, R, Python, Shiny, LaTeX, Git, Inkscape.</p>
	</div>

	<div class="cv-item">
		<h4 class="cv-item-details">Intermediate</h4>
		<p class="cv-item-copy">TensorFlow, Mathematica, Bash, awk, SQL, Jekyll, HTML, CSS, macOS, GIMP.</p>
	</div>

	<div class="cv-item">
		<h4 class="cv-item-details">Basic</h4>
		<p class="cv-item-copy">Spark, Hadoop, C++, C, MATLAB, Computational Genomics.</p>
	</div> -->

</section>
<!-- end Skills -->
{% endif %}

{% if site.cv_section_conferences %}
<!-- begin Conferences -->
<section class="content-section">

	<header class="section-header">
		<h2>Conference Presentations</h2>
	</header>

	<div class="cv-item">
		<h3 class="cv-item-title" itemprop="award"><a href="http://2018.biometricconference.org/">XXIXth International Biometric Conference</a></h3>
		<h4 class="cv-item-details">Poster Presentation &bull; 8-13th April 2018</h4>
		<p class="cv-item-copy">Poster: <i>The Environmental Influence on Tropical-Cyclones</i>.</p>
	</div>

	<div class="cv-item">
		<h3 class="cv-item-title" itemprop="award"><a href="http://complexitat.cat">VII Jornada complexitat.cat</a></h3>
		<h4 class="cv-item-details">Poster Presentation &bull; 8-13th of May 2018</h4>
		<p class="cv-item-copy">Poster: <i>The Influence of Sea Surface Temperature on Tropical-Cyclone Intensity</i>.</p>
	</div>

</section>
<!-- end Conferences -->
{% endif %}

{% if site.cv_section_certificates %}
<!-- begin Certificates -->
<section class="content-section">

	<header class="section-header">
		<h2>Certificates</h2>
	</header>

	<div class="cv-item">
		<h3 class="cv-item-title" itemprop="award">Coursera</h3>
		<h4 class="cv-item-details">Machine Learning with TensorFlow on Google Cloud Platform Specialization</h4>
		<p class="cv-item-copy"><a href="https://www.coursera.org/account/accomplishments/verify/N5VTAUH8EZZV">Intro to TensorFlow</a> &bull; March 2019</p>
		<p class="cv-item-copy"><a href="https://www.coursera.org/account/accomplishments/verify/J7297BMJHB4G">Launching into Machine Learning</a> &bull; March 2019</p>
		<p class="cv-item-copy"><a href="https://www.coursera.org/account/accomplishments/verify/27GWNFYC5BDC">How Google does Machine Learning</a> &bull; March 2019</p>
		<p class="cv-item-copy"><a href="https://www.coursera.org/account/accomplishments/verify/A44RVWAE7JBL">Feature Engineering</a> &bull; MJuly 2019</p>
		<br>
		<h4 class="cv-item-details">Deep Learning Specialization</h4>
		<p class="cv-item-copy"><a href="https://www.coursera.org/account/accomplishments/verify/2AAM9WS3PFC6">Structuring Machine Learning Projects</a> &bull; October 2018</p>
		<p class="cv-item-copy"><a href="https://www.coursera.org/account/accomplishments/verify/5KEV646CXDDM">Improving Deep Neural Networks</a> &bull; September 2018</p>
		<p class="cv-item-copy"><a href="https://www.coursera.org/account/accomplishments/verify/DF48R6X54JNG">Neural Networks and Deep Learning</a> &bull; August 2018</p>
		<br>
		<h4 class="cv-item-details">Statistics with R Specialization</h4>
		<p class="cv-item-copy"><a href="https://www.coursera.org/account/accomplishments/verify/VAPF5HJDRN6J">Introduction to Probability and Data</a> &bull; September 2018</p>
	</div>


	<div class="cv-item">
		<h3 class="cv-item-title" itemprop="award">Ubuntu</h3>
		<h4 class="cv-item-details">Ubuntu Membership &bull; 5th May 2016</h4>
		<p class="cv-item-copy">Official Ubuntu Membership means recognition of significant and sustained contribution to Ubuntu or the Ubuntu community. In particular, of my continuous collaboration in Ubuntu GNOME.</p>
	</div>

	<div class="cv-item">
		<h3 class="cv-item-title" itemprop="award">The Linux Foundation</h3>
		<h4 class="cv-item-details">LFC291-Compliance Basics for Developers &bull; 5th April 2016</h4>
		<p class="cv-item-copy">Because open source is now found everywhere software exists, a good working knowledge of open source licensing and compliance is critical.</p>
	</div>

</section>
<!-- end Certificates -->
{% endif %}

{% if site.cv_section_misc %}
<!-- begin Other info -->
<section class="content-section">

	<header class="section-header">
		<h2>Other Information</h2>
	</header>

	<div class="cv-item">
		<h4 class="cv-item-details">Natural languages</h4>
		<p class="cv-item-copy">Spanish (<i>mother tongue</i>), Catalan (<i>mother tongue</i>), and English (<i>professional working proficiency</i>).</p>
	</div>

	<div class="cv-item">
		<h4 class="cv-item-details">Interests</h4>
		<p class="cv-item-copy">Llinguistics, art history,  cinematography, literature, mathematics, music, open source, woodworking, cooking, typography, and UI/UX-design.</p>
	</div>

</section>
<!-- end Other info -->
{% endif %}
