body{background:#27091E;margin:0;padding:0; font-family: 'Droid Sans', arial, serif;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
#c-block{background:#ffffff;width:980px;margin:20px 0 0 0;left:50%;right:50%;height:100%;color:#333333;}
#hdr{position:relative;height:40px;width:960px;margin:7px 0 0 10px;background:#EE5928 repeat-x 0 0;color:white;}
#normal-col{margin:0 15px 0 15px;width:950px;position:relative;}
#footer{position:relative;margin:0px 0px 10px 10px;font-size:12px;overflow:hidden;text-transform:uppercase;text-transform:bold;height:30px;width:960px;background:#EE5928 repeat-x 0 0;color:white;}
a img{border:none;}
h7, h6, h5, h4, h3, h2, h1{margin:0;padding:5px 0;}

